<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="div">
        Student Name :     <%=user.name%>
    </div>
 
<div class="div">
    Student Email :   <%=user.email%>
</div>
  <div class="div">
    Student Username : <%=user.username%>
  </div>

<form method="GET" action="/student/logout">
    <button>Logout</button>
</form>
</body>
</html>